html, body {
    background-color: black;
    color: grey;
    font-family: 'Share Tech', sans-serif;
    cursor: url(/Assets/rainbowcurse.png) -2 -2,auto;
}

main {
    cursor: url(/Assets/rainbowcurse.png) -2 -2,auto;
}
/*--------------game page-------------------------*/
cant-select-zone {
    /*makes the text not highlightable*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

game-window {
    text-align: center;
    /* border: dashed 5px red;*/
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1072px;
    height: 603px;
}

player1window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    top: 2px;
    border: 2px solid grey;
    /*    cursor: url(/media/bcurs.png) -2 -2,auto;*/
}

player2window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    top: 2px;
    border: 2px solid grey;
    /*    cursor: url(/media/rcurs.png) -2 -2,auto;*/
    color: white;
}

player3window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    left: 2px;
    bottom: 2px;
    border: 2px solid grey;
    /*    cursor: url(/media/gcurs.png) -2 -2,auto;*/
    color: white;
}

player4window {
    position: absolute;
    width: 49.5%;
    height: 49%;
    right: 2px;
    bottom: 2px;
    border: 2px solid grey;
    /*    cursor: url(/media/ycurs.png) -2 -2,auto;*/
    color: white;
}